body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url(images/paisaje.jpg);
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;

.gif-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 200px;
    height: 200px;
    margin: 150px;
    }

.game-container {
    position: relative;
    z-index: 10;
    text-align: center;
    color: white;
}

button {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
}
